@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>City of Spokane Utilities</h1>
    <p class="lead">City of Spokane Utilities Outage Portal</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">

  
</div>
<div id="container" style="min-width: 300px; height: 700px; margin: 0 auto"></div>
<!-- blah -->


<script type="text/javascript">

    var response;

    $(function () {

        $.ajax({
            url: 'http://localhost:36453/api/UtilitiesAPI/GetOutagesOverview',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                response = data;
                RenderHighchart();
            },
            error: function (xhr, errorThrown) {
                alert("AJAX Error : " + errorThrown);
            }
        });

    });


    function RenderHighchart() {

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Utilities Outages Overview by Utility'
            },
            subtitle: {
                text: 'Utility Outages Totals'
            },
            xAxis: {
                categories: response.Catagories,
                crosshair: true
            },
            yAxis: {
                title: {
                    text: 'Service Location Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: response.Series
        });
    };

</script>