<!-- POWER OUTAGES jqGrid View -->
<h2 style="background-color:lightgray">Power Outages</h2>
<table id="tblPowerOutageList"></table>
<div id="PowerOutageListPager"></div>

<div class="contextMenu" id="myMenu1" style="display:none">
    <ul style="width: auto!Important;">
        <li id="ViewAddressDetails">
            <span class="ui-icon ui-icon-plus" style="float:left"></span>
            <span style="font-size:11px; font-family:Verdana; width:80px;">Add Location to Existing</span>
        </li>
    </ul>
</div>


<script type="text/javascript">

    $(function () {
        InitPowerGrid();
    });
    
    function InitPowerGrid()
    {
        $("#tblPowerOutageList").jqGrid({
            url: "/api/UtilitiesAPI/GetPowerOutages",
            datatype: "json",
            headers: { "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With" },
            contentType: "application/json; charset=utf-8",
            mtype: "GET",
            jsonReader: {
                total: "Total",
                records: "TotalRecords",
                root: "Rows",
                cell: "",
                repeatitems: false
            },
            colNames: ['ServiceAddress', 'ServiceCity', 'ServiceState', 'ServiceAsOfDate'],
            colModel: [
                { name: 'ServiceAddress', index: 'ServiceAddress', width: 440, sorttype: "string", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'ServiceCity', index: 'ServiceCity', width: 220, sorttype: "string", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'ServiceState', index: 'ServiceState', width: 120, sorttype: "string", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'ServiceAsOfDate', index: 'ServiceAsOfDate', width: 280, sorttype: "date", searchoptions: { sopt: ['eq'] } },
            ],
            search: true,
            rowNum: 50,
            rowList: [5, 10, 20, 50],
            pager: '#PowerOutageListPager',
            height: 'auto',
            hidegrid: true,
            loadonce: true,
            viewrecords: true,
            sortname: 'ServiceAsOfDate',
            sortorder: "desc",
            caption: "Power Outage Locations",
            onCellSelect: function (rowId, iRow, iCol, content, event) {
                var rowData = $("#tblPowerOutageList").getRowData(rowId);
                var address = rowData["ServiceAddress"] + ", " + rowData["ServiceCity"] + ", " + rowData["ServiceState"];
                RedrawMap(address);
            },
            loadComplete: function () {
                $("tr.jqgrow", this).contextMenu('myMenu1', {
                    bindings: {
                        'ViewAddressDetails': function (trigger, data) {
                            AddAndRedrawMap(data);
                        }
                    }
                });
            }
        });

        $("#tblPowerOutageList").jqGrid('navGrid', '#PowerOutageListPager', { add: false, edit: false, del: false, search: true, refresh: true },
            {}, {}, {}, { multipleSearch: true, multipleGroup: true, showQuery: true });

        $("#tblPowerOutageList").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: 'cn' });

       // ChangejQGridDesign("#tblPowerOutageList", "#PowerOutageListPager");
    }
     
</script>







