@using UtilitiesService.Models;




    <h2 style="background-color:lightgray">Power Outages</h2>
    <table id="tblPowerOutageList" style="width:800;">         
    </table>
   <div id="PowerOutageListPager"></div>
    @*<table id="search"></table>
    <div id="filter"></div>*@

    <div class="contextMenu" id="myMenu1" style="display:none">
        <ul style="width: auto!Important;">
            <li id="ViewAddressDetails">
                <span class="ui-icon ui-icon-plus" style="float:left"></span>
                <span style="font-size:11px; font-family:Verdana">View Location Details/Map</span>
            </li>
        </ul>
    </div>


<script type="text/javascript">

    var gridData;

    $(function () {

        InitGrid(null);
        //$.ajax({
        //    url: 'http://localhost:36453/api/UtilitiesAPI/GetPowerOutages',
        //    type: 'GET',
        //    dataType: 'json',
        //    success: function (data) {
        //        gridData = data;
        //        //alert(JSON.stringify(gridData));
        //        InitGrid(JSON.stringify(gridData));
        //    },
        //    error: function (xhr, errorThrown) {
        //        alert("AJAX Error : " + errorThrown);
        //    }
        //});
    });


    function InitGrid(gridData) {
        $("#tblPowerOutageList").jqGrid({
            url: "http://localhost:36453/api/UtilitiesAPI/GetPowerOutages",
            datatype: "json",
            mtype: "GET",
            jsonReader: {
                total: "Total",
                records: "TotalRecords",
                root: "Rows",
                cell: "",
                repeatitems: false
            },
            colNames: ['ServiceAddress', 'ServiceCity', 'ServiceState', 'ServiceAsOfDate'],
            colModel: [
                { name: 'ServiceAddress', index: 'ServiceAddress', width: 440, searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'ServiceCity', index: 'ServiceCity',  width: 220, searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'ServiceState', index: 'ServiceState',  width: 120, searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'ServiceAsOfDate', index: 'ServiceAsOfDate',  width: 280, searchoptions: { sopt: ['eq'] } },
            ],
            search: true,
            rowNum: 100,
            //rowList: [5, 10, 20, 50],
            //pager: '#PowerOutageListPager',
            height: 'auto',
            hidegrid: false,
            viewrecords: true,
            sortname: 'ServiceAsOfDate',
            sortorder: "desc",
            caption: "Power Outage Locations",
            //data: gridData,
            ondblClickRow: function (ServiceAddress, ri, ci) {
                alert(ServiceAddress + ", " + ri + ", " + ci);
            },
            loadComplete: function () {
                $("tr.jqgrow", this).contextMenu('myMenu1', {
                    bindings: {
                        'ViewAddressDetails': function (trigger) {

                            ShowLocationMap(trigger.ServiceAddress);
                        }
                    }
                });
            }

        });

        //$("#tblPowerOutageList").jqGrid('navGrid', '#PowerOutageListPager', { add: false, edit: false, del: false, search: true, refresh: true },
        //    {}, {}, {}, { multipleSearch: true, multipleGroup: true, showQuery: true });

        $("#tblPowerOutageList").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: 'cn' });

    }


    function ShowLocationMap(address)
    {

    }
     
</script>







