<!-- WATER OUTAGES jqGrid View -->
<h2 style="background-color:lightgray">Water Outages</h2>
<table id="tblWaterOutageList"></table>
<div id="WaterListPager"></div>

<div class="contextMenu" id="myMenu2" style="display:none">
    <ul style="width: auto!Important;">
        <li id="ViewAddressDetails">
            <span class="ui-icon ui-icon-plus" style="float:left"></span>
            <span style="font-size:11px; font-family:Verdana; width:80px;">Add Location to Existing</span>
        </li>
    </ul>
</div>


<script type="text/javascript">

    $(function () {
        InitWaterGrid();
    });

    function InitWaterGrid()
    {
        $("#tblWaterOutageList").jqGrid({
            url: "/api/UtilitiesAPI/GetWaterOutages",
            datatype: "json",
            mtype: "GET",
            jsonReader: {
                total: "Total",
                records: "TotalRecords",
                root: "Rows",
                cell: "",
                repeatitems: false
            },
            colNames: ['Acct', 'Customer Name', 'Loc Address', 'Parcel', 'Status Code',  'Shutoff Date', 'Status Code'],
            colModel: [
                { name: 'Acct__', index: 'Acct #', width: 80, sorttype: "int", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'Customer_Name', index: 'Customer_Name', width: 200, sorttype: "int", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'Svc_Loc_Addr', index: 'Svc_Loc_Addr', width: 240, sorttype: "string", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'Parcel', index: 'Parcel', width: 120, sorttype: "string", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'Meter_Status', index: 'Meter_Status', width: 60, sorttype: "string", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'Meter_Status_Date', index: 'Meter_Status_Date', width: 140, sorttype: "date", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
                { name: 'Status_Code', index: 'Status_Code', width: 220, sorttype: "date", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
            ],
            search: true,
            rowNum: 50,
            rowList: [5, 10, 20, 50],
            pager: '#WaterListPager',
            height: 'auto',
            width: 'auto',
            hidegrid: true,
            loadonce: true,
            viewrecords: true,
            sortname: 'LastNonZeroDate',
            sortorder: "desc",
            caption: "Water Outage Locations",
            onCellSelect: function (rowId, iRow, iCol, content, event) {
                var rowData = $("#tblWaterOutageList").getRowData(rowId);
                var address = rowData["Svc_Loc_Addr"]; // + " " + rowData["SvcLocPreDir"] + " " + rowData["SvcLocStreetName"] + " " + rowData["SvcLocStreetSuffix"] + ", " + rowData["SvcLocCity"] + ", WA";
                RedrawMap(address);
            },
            loadComplete: function () {
                $("tr.jqgrow", this).contextMenu('myMenu2', {
                    bindings: {
                        'ViewAddressDetails': function (trigger, data) {
                            AddAndRedrawMap(data);
                        }
                    }
                });
            }
        });

        $("#tblWaterOutageList").jqGrid('navGrid', '#WaterListPager', { add: false, edit: false, del: false, search: true, refresh: true },
            {}, {}, {}, { multipleSearch: true, multipleGroup: true, showQuery: true });

        $("#tblWaterOutageList").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: 'cn' });
    }

    function myformatter(cellvalue, options, rowObject) {
        return rowObject.SvcLocBldgNbr + ' ' + rowObject.SvcLocPreDir + ' ' + rowObject.SvcLocStreetName + ' ' + rowObject.SvcLocStreetSuffix;
    }


</script>